# Current configuration uploads backup every hour
0 0 * * *     root	aws s3 mv {{ backup_directory }} s3://{{ s3_bucket_name }} --recursive
# Ideal remote backup might be weekly or daily
#30 23 * * *     root	aws s3 mv {{ backup_directory }} s3://{{ s3_bucket_name }} --recursive
#0 0 * * 6     root	aws s3 mv {{ backup_directory }} s3://{{ s3_bucket_name }} --recursive
